.contact {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: default;


    .contactme{
        margin: 0 0 10vh 0;
    }

        .contactContainer{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        

        .email{
            font-size: 1.5vw;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            p{
                font-size: 1.5vw;
            }
        }

        .contact-form{
            margin: 0 0 0 0;
            padding: 0 0 2vw 0;
            width: 50%;
            // font-size: 1em;
            
            .input{
                border-radius: 0;
                padding: 8px;
                font-size: 1.5vw;
                margin: 0 0 20px 0 !important;
                color: #8e8d8f;
                background-color: #252427;
                border: solid 1px #8e8d8f;
                width: 50%;
                transition: 300ms;
            
                    &:focus {
                        transition: 300ms;
                        outline: none !important;
                        border: 1px solid rgb(255, 136, 0);
                    }
            
                }


                .textarea{
                    padding: 8px;
                    margin: 0 0 20px 0 !important;
                    width: 90%;
                    height: 13vh;
                    font-size: 1.5vw;
                    color: #8e8d8f;
                    border: solid 1px #8e8d8f;
                    background-color: #252427;
                    transition: 300ms;

                    &:focus {
                        transition: 300ms;
                        outline: none !important;
                        border: 1px solid rgb(255, 136, 0);
                      }
                
                
                    }
                
                .submit{
                    padding: 1% 10%;
                    text-align: center;
                    background-color: #423f47;
                    color: white;
                    text-align: center;
                    border: 2px solid rgb(255, 136, 0);
                    box-shadow: rgb(0 0 0 / 60%) 1px 3px 2px;
                    border-radius: 50px;
                
                    cursor: pointer;
                    transition: all 0.5s ease 0s;
                    font-size: 1.5vw;
                
                    &:hover {
                        box-shadow: rgb(255, 136, 0) 0px 0px 20px;
                    }
                
                }   
   
        }   
}

}
::placeholder {
    color: #8e8d8f;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8e8d8f;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #8e8d8f;
  }



@media only screen and (max-width: 1100px) {

    .contact {
        justify-content: center;
    
    
            .contactContainer{      
    
            .email{
    
                p{
                    font-size: 2.5vw;
                }
            }
    
            .contact-form{
                font-size: 2.5vw;
                .input{ 
                    font-size: 2.5vw;
                }
                .textarea{
                    font-size: 2.5vw;
                }
                    .submit{
                        font-size: 2.5vw;
                    }   
       
            }   
    
    
    }

}

}
    
@media only screen and (max-width: 1000px){

    .contact {
        justify-content: center;
    
        .contactme{
            font-size: 10vw;
        }
    
            .contactContainer{    
                flex-direction: column;
                justify-content: space-evenly;
                
    
            .email{
                margin-bottom: 15%;

                p{
                    font-size: 5vw;
                }
            }
    
            .contact-form{

                .input{ 
                    font-size: 5vw;
                }
                .textarea{
                    font-size: 5vw;
                    width: 90%;
                }
                    .submit{
                        font-size: 5vw;
                    }   
       
            }   
    
    
    }

}

}    
        
        
@media only screen and (max-width: 1950px){
    .contact{
        justify-content: center;
    }
}