.nav{
    width: 90vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background-color: #252427;
    background-color: transparent;
    border-top: 2px solid #3e3e3e;


    .navItem{
        margin: 0 3%;
        cursor: pointer;
    }
}